<div>
  <header>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="/">
          <span class="title">Code Camper</span>
          <span class="jump-start-title">[JumpStart] 00-Durandal - 1 Page</span>
        </a>
      </div>
      <div class="navbar-inner navbar-secondary"></div>
    </nav>
  </header>
  <section id="content" class="main container-fluid">
    <!--ko compose: {model: 'viewmodels/speakers',  activate: true} -->
    <!--/ko-->
  </section>
</div>
